html {
    font-family: 'Dancing Script', cursive;
    height: 100%;
}

body {
    background-color: #fff7ff;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    position: absolute;
    top: 0;
}
