<!DOCTYPE html>
<html>
  <head>
    <title> curve only | genuary | mynjj</title>
  </head>
  <body>
    <main>
      <div id="canvas"></div>
    </main>
    <script src="curve-only/code.js"></script>
  </body>
</html>
